.tableStyle {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
    background-color: white;
  }
  .tableStyle tr {
    display: grid;
    width: fit-content;
    grid-template-columns: 80px 260px minmax(200px, 1fr) minmax(200px, 1fr) minmax(200px, 1fr) minmax(200px, 1fr) minmax(200px, 1fr) minmax(250px, 1fr);

  }
  .tableStyle tr th {
    background-color: #94b3f6;
    color: white;
    min-width: 155px;
  }
  .tableStyle tr td {
      font-size: 14px;
      color: #48545e;
      min-width: 160px;
  }
  .tableStyle td, th {
  
    text-align: left;
    padding: 15px 11px;
  }
  .tableStyle tr td:first-child, th:first-child {
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 0px;
  }

.tableStyle tbody tr:nth-child(odd){
  background-color:#f5f4f9;
}
.tableStyle tbody tr:nth-child(odd):hover{
  background-color:#ebeef6;
}
   .angleup{
      font-size: 18px;
      font-weight: 700;
      padding-left: 12px;
  }
  .tag_action{
      background-color: #f5f5d1;
      padding: 10px;
      border-radius: 20px;
      margin-right: 10px;
  }
  .tag_action2{
    background-color: #f7f4aa; 
    padding: 10px;
    border-radius: 20px;
}
.noData {
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 100px;
}