.btn_container{
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px;
}
.container{
    background-color: #eeeeee;
    padding: 20px;
}
.common_cards{
    display: flex;
    justify-content: space-between;
    overflow-x: auto;
    padding-bottom: 30px;
}
.header {
    background: #94b3f6;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    color: #fff;
    font-weight: bold;
    font-family: monospace;
}
